
<template name="listItems">
	<table class="table table-hover table-condensed">
		<tbody>

<!--
		<tr>
			<td width=1></td>
			<td><input type="text" class="form-control" name="titleNew"></td>
			<td width="30px"></td>
		</tr>
-->
    {{#each listItem}}
      {{> item}}
    {{/each}}
    </tbody>
   </table>

</template>

<!-- 
<template name="item">
	<tr class="{{itemClass}}" titleId="{{_id}}">
		<td width=1><i class="fa {{doneClass}} fa-fw fa-2x" name="done"></i></td>
		<td name="title">
			<span id="titleText" style="font-size:1.5em">{{title}}</span>
			<input type="text" class="form-control hidden" name="title" id="titleInput"  style="font-size:1.5em" value="">
		</td>
		<td width="40px" name="{{beingUpdatedName}}" style="cursor:pointer" align="center">
			<i class="{{beingUpdatedIcon}}"></i>
		</td>
	</tr>
</template>
 -->

<template name="item">

	<div class="item {{itemClass}}" data-id="{{_id}}" titleId="{{_id}}">
		<i class="fa {{doneClass}} fa-fw fa-2x" name="done"></i>
			<span name="titleText" style="font-size:1.5em">{{title}}</span>
			<span id="titleInput"><input type="text" class="form-control hidden" name="title"   style="font-size:1.5em" value=""></span>
		<span class="itemStatus" name="{{beingUpdatedName}}" style="cursor:pointer" align="center">
			<i class="{{beingUpdatedIcon}}"></i>
		</span>
	</div>

</template>